##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##

<VirtualHost <%= vhost_listen %> >
        ServerAdmin debian-admin@debian.org
        ServerName ftp.ports.debian.org
        <% if scope.function_onion_global_service_hostname(['ftp.ports.debian.org']) -%>
        ServerAlias <%= scope.function_onion_global_service_hostname(['ftp.ports.debian.org']) %>
        <% end %>

        ErrorLog /var/log/apache2/ftp.ports.debian.org-error.log
        LogLevel warn
        CustomLog /var/log/apache2/ftp.ports.debian.org-access.log privacy

        RedirectMatch "^/$" /debian-ports/

        Alias /debian-ports /srv/mirrors/debian-ports
        <Directory /srv/mirrors/debian-ports>
                Require all granted
                IndexOptions NameWidth=* +SuppressDescription
                Options +Indexes
                Options +FollowSymLinks
        </Directory>
        Use ftp-archive /srv/mirrors/debian-ports

        Alias /debian-ports-cd /srv/mirrors/debian-ports-cd
        <Directory /srv/mirrors/debian-ports-cd>
                Require all granted
                IndexOptions NameWidth=* +SuppressDescription
                Options +Indexes
                Options +FollowSymLinks
        </Directory>
</VirtualHost>
