##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##

Device {
  Name = "<%= bacula_filestor_device %>-<%= client %>"
  Media Type = "<%= bacula_filestor_name %>-<%= client %>"
  Archive Device = "<%= bacula_backup_path %>/<%= client %>"
  LabelMedia = yes;
  Random Access = Yes;
  AutomaticMount = yes;
  RemovableMedia = no;
  AlwaysOpen = no;
  #Maximum Network Buffer Size = 524288
}
