##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##

domain <%= domain %> {
	table <%= table %> {
		chain <%= chain %> {
			<%= rule %><% unless notarule -%>;<% end -%>

		}
	}
}
